@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
    .row {
        @apply flex flex-row;
    }

    .swiper {
        /* Убедитесь, что контейнер слайдера адаптивный */
        .views {
            width: 100%; /* Занимает всю доступную ширину */
            height: auto; /* Автоматическая высота */
        }

        /* Основной слайдер */
        .mySwiper2 {
            height: 100%; /* Занимает всю доступную высоту контейнера */
            width: 100%; /* Растягивается на всю ширину */
            display: flex;
            flex-direction: column;
        }

        /* Миниатюры слайдера */
        .mySwiper {
            position: relative;
            z-index: 1000;
            width: 100px; /* Фиксированная ширина для миниатюр */
            height: 100%; /* Растягивается по высоте контейнера */
            max-height: 500px; /* Ограничение максимальной высоты */
            overflow-y: hidden; /* Скрывает элементы за пределами контейнера */
            display: flex;
            flex-direction: column; /* Вертикальное расположение миниатюр */
            gap: 10px; /* Расстояние между миниатюрами */
        }

        .mySwiper .swiper-slide {
            width: 100%; /* Миниатюры занимают всю ширину */
            height: auto; /* Автоматическая высота под контент */
            opacity: 0.2; /* Прозрачность неактивных миниатюр */
            transition: opacity 0.3s ease; /* Плавное изменение прозрачности */
        }

        .mySwiper .swiper-slide-thumb-active {
            opacity: 1; /* Полная видимость активной миниатюры */
            border-radius: 10px;
            border: 1px solid black;
        }

        .mySwiper img {
            width: 100%; /* Изображение растягивается на всю ширину */
            height: auto;
            object-fit: cover; /* Сохранение пропорций изображения */
            border-radius: 4px; /* Лёгкое скругление краёв */
        }

        .swiper {
            width: 100%; /* Занимает всю ширину */
            height: 100%; /* Занимает всю высоту */
        }

        .swiper-slide {
            display: flex;
            justify-content: center;
            align-items: center;
            text-align: center;
            background: #fff;
        }

        .swiper-slide img {
            display: block;
            width: 100%;
            height: 100%;
            object-fit: cover; /* Сохранение пропорций */
        }
    }

    .swiper-slide {
        text-align: center;
        font-size: 18px;
        background: #fff;

        /* Center slide text vertically */
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .swiper-slide img {
        display: block;
        width: 100%;
        height: 100%;
        object-fit: cover;
    }



    .swiper {
        width: 100%;
        height: 300px;
        margin-left: auto;
        margin-right: auto;

    }

    .swiper-slide {
        background-size: cover;
        background-position: center;
    }

    .mySwiper2 {
        height: 80%;
        width: 100%;
        display: flex;
        flex-direction: column;
    }
    .mySwiper2 .swiper-slide {
        width: 100%;
        --tw-bg-opacity: 1;
        background-color: rgb(243 244 246 / var(--tw-bg-opacity))
    }

    .mySwiper {
        height: 100%; /* Высота контейнера */
        max-height: 332px; /* Ограничение высоты */
        width: 100px; /* Ширина миниатюр */
        display: flex;
        flex-direction: column; /* Вертикальное расположение */
        gap: 10px; /* Расстояние между миниатюрами */
        overflow-y: hidden; /* Скроет выходящие элементы */
        position: relative; /* Для безопасности */
    }
    @media(max-width: 800px) {
        .mySwiper {
            height: 300px;
        }
    }

    .mySwiper .swiper-slide {
        width: 100%; /* Слайд занимает всю ширину контейнера */

        height: auto; /* Высота под контент */
        opacity: 0.4; /* Прозрачность неактивных */
        border-radius: 8px;
        padding: 10px;
    }

    .mySwiper .swiper-slide-thumb-active {
        opacity: 1; /* Полная видимость активного */
        border: 1px black solid;

    }

    .mySwiper img {
        width: 100%; /* Изображение не выходит за границы */
        height: auto;
        object-fit: cover; /* Масштабирование с сохранением пропорций */
        border-radius: 8px; /* Скругление краев */
    }

}



@layer utilities {
    .title {
        @apply font-bold sm:text-6xl text-5xl 2xl:text-8xl md:text-7xl md:text-center tracking-tight
    }
    .title-mini {
        @apply font-bold sm:text-5xl text-4xl 2xl:text-7xl md:text-6xl md:text-center tracking-tight
    }
    .subtitle {
        @apply md:text-center text-xl sm:text-2xl 2xl:text-3xl font-medium leading-snug md:leading-normal text-gray-800 dark:text-gray-300
    }
    .h1-bold {
        @apply text-[30px] font-bold leading-[42px] tracking-tighter;
    }

    .h2-bold {
        @apply text-[24px] font-bold leading-[31.2px];
    }

    .h2-semibold {
        @apply text-[24px] font-semibold leading-[31.2px];
    }

    .h3-bold {
        @apply text-[20px] font-bold leading-[26px];
    }

    .h3-semibold {
        @apply text-[20px] font-semibold leading-[24.8px];
    }

    .base-medium {
        @apply text-[18px] font-medium leading-[25.2px];
    }

    .base-semibold {
        @apply text-[18px] font-semibold leading-[25.2px];
    }

    .base-bold {
        @apply text-[18px] font-bold leading-[140%];
    }

    .paragraph-regular {
        @apply text-[16px] font-normal leading-[22.4px];
    }

    .paragraph-medium {
        @apply text-[16px] font-medium leading-[22.4px];
    }

    .paragraph-semibold {
        @apply text-[16px] font-semibold leading-[20.8px];
    }
    .text-gradient {
        background: linear-gradient(315deg, #62cff4, #2c67f2);
        background-clip: text;
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
    }
    .bg-gradient {
        background: linear-gradient(315deg, #62cff4, #2c67f2);
    }
    .bg-gradient:active {
        background: linear-gradient(315deg, #4b9fbb, #1c429b);
    }
}

@layer base {
    .flex-center {
        @apply items-center justify-center;
    }
  :root {

        --background: 0 0% 100%;

        --foreground: 0 0% 3.9%;

        --card: 0 0% 100%;

        --card-foreground: 0 0% 3.9%;

        --popover: 0 0% 100%;

        --popover-foreground: 0 0% 3.9%;

        --primary: 0 0% 9%;

        --primary-foreground: 0 0% 98%;

        --secondary: 0 0% 96.1%;

        --secondary-foreground: 0 0% 9%;

        --muted: 0 0% 96.1%;

        --muted-foreground: 0 0% 45.1%;

        --accent: 0 0% 96.1%;

        --accent-foreground: 0 0% 9%;

        --destructive: 0 84.2% 60.2%;

        --destructive-foreground: 0 0% 98%;

        --border: 0 0% 89.8%;

        --input: 0 0% 89.8%;

        --ring: 0 0% 3.9%;

        --chart-1: 12 76% 61%;

        --chart-2: 173 58% 39%;

        --chart-3: 197 37% 24%;

        --chart-4: 43 74% 66%;

        --chart-5: 27 87% 67%;

        --radius: 0.5rem
    }
  .dark {

        --background: 0 0% 3.9%;

        --foreground: 0 0% 98%;

        --card: 0 0% 3.9%;

        --card-foreground: 0 0% 98%;

        --popover: 0 0% 3.9%;

        --popover-foreground: 0 0% 98%;

        --primary: 0 0% 98%;

        --primary-foreground: 0 0% 9%;

        --secondary: 0 0% 14.9%;

        --secondary-foreground: 0 0% 98%;

        --muted: 0 0% 14.9%;

        --muted-foreground: 0 0% 63.9%;

        --accent: 0 0% 14.9%;

        --accent-foreground: 0 0% 98%;

        --destructive: 0 62.8% 30.6%;

        --destructive-foreground: 0 0% 98%;

        --border: 0 0% 14.9%;

        --input: 0 0% 14.9%;

        --ring: 0 0% 83.1%;

        --chart-1: 220 70% 50%;

        --chart-2: 160 60% 45%;

        --chart-3: 30 80% 55%;

        --chart-4: 280 65% 60%;

        --chart-5: 340 75% 55%
    }
}

@layer base {
  * {
    @apply border-border;
    }
  body {
    @apply bg-background text-foreground;
    }
}